.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn {
    margin-top: 10px;
    background: blue;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    flex-basis: 50px;
}